= form_for @reporte do |f|
  - if @reporte.errors.any?
    #error_explanation
      %h2= "#{pluralize(@reporte.errors.count, "error")} prohibited this reporte from being saved:"
      %ul
        - @reporte.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :geo_latitude
    = f.text_field :geo_latitude
  .field
    = f.label :geo_longitude
    = f.text_field :geo_longitude
  .field
    = f.label :author
    = f.text_field :author
  .field
    = f.label :closed
    = f.check_box :closed
  .actions
    = f.submit 'Save'
